
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Hospital.Models.User>
@{
    ViewData["Title"] = " Добавление доктора";
}

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Главная</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar1" aria-controls="navbar1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="TimeTable" asp-action="Index">Расписание врачей<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Roles" asp-action="Index">Роли</a>
                </li>
                <li class="nav-item active">

                    <a class="nav-link" asp-controller="Specialty" asp-action="Index">Специальности врача</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Users" asp-action="Index">Пользователи</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Doctor" asp-action="Index">Доктора</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
    <h2>@ViewData["Title"]</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <form asp-controller="Doctor" asp-action="Create" method="post">              
        
        <table class="table" cellpadding="0" border="1">
            <tr>
                <th>IdDoctor</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Отчество</th>
                <th>Специальность</th>
                <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
            </tr>
             @foreach (var doc in Model)
                {
                    <tr>
                        <td>
                            <label hidden>@doc.Id</label>
                        </td>
                        <td>@doc.FirstName</td>
                        <td> @doc.SecondName</td>
                        <td>@doc.LastName</td>
                        <td>
                            <select>
                                @foreach (var speciality in ViewBag.DoctorSpecialty)
                                {
                                    <option value="@speciality.Id">@speciality.Name</option>
                                }
                            </select>
                        </td>
                        <td>
                            <input type="submit" value="Добавить" />
                        </td>
                    </tr>
                }
        </table>
    </form>

    
</body>